@import url('https://fonts.googleapis.com/css?family=Roboto:300,700|Rubik:300,400,500,700');
@import '../bootstrap.min.css';
@import '_vars.scss';

body { 
  font-family:'Rubik', Arial, sans-serif !important;
  font-weight: 400; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;
}
// small { font-family: 'Roboto', sans-serif; font-weight: 300; }
p { font-size:1.1rem; }
small { font-family: 'Roboto', sans-serif; font-weight: 700; display: inline-block; padding-bottom: 10px; }

.btn-primary { background:$primary; border-color:$primary; }
.btn-primary:hover { background:darken($primary, 15%); border-color:darken($primary, 15%); }

img.visual { max-width:100%; }

body {
    background:$lightgrey;
}

nav {
    padding:1.5rem 1rem !important; 
    .navbar-nav .nav-item { font-weight:500; margin-left:50px; line-height:20px; padding:0.7rem 1rem 0.5rem 1rem !important; color:$dark; }
    .navbar-nav .nav-item.home { padding:0.5rem 1rem 0.5rem 1rem !important; }
    .navbar-nav .nav-item img { height:20px; vertical-align:-3px; display:inline-block; }
    .navbar-nav .nav-item.active { background:$light; border-radius:100px; }
    .navbar-nav .nav-item:hover { color:$pink; }
    .navbar-nav .nav-item:hover img { fill:$pink; }
    .navbar-collapse { flex-direction: row-reverse; }
}

.btn {
    padding:0.65rem 3rem 0.55rem 3rem !important; font-weight:500 !important; font-size:18px !important;  margin-bottom:40px !important;
    border-radius:50px !important;
    span { margin-left:-50px; transition:all 0.15s ease-in-out; }
    &:hover {
        span { margin-left:0px; transition:all 0.15s ease-in-out; }
    }
}


// Modal
.modal {
  z-index: 9999999999999 !important;
  .modal-body {
    padding:2rem;
  }
  .modal-footer {
    text-align:center; justify-content: center;
    .btn { margin-bottom:0 !important; max-width:200px; float:none !important; }
  }
}


textarea,
input {
  font-weight:500; font-size:20px; color:$blue !important;
  border-radius:50px !important;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size:1rem; text-transform:uppercase;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    font-size:1rem; text-transform:uppercase;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    font-size:1rem; text-transform:uppercase;
  }
  &:-moz-placeholder { /* Firefox 18- */
    font-size:1rem; text-transform:uppercase;
  }
}
textarea {
  border-radius:20px !important;
}

div.innerpage {
  position: relative;
  min-height:300px;
}
div.nextnav {
  width:100%;
}
div.sendflow {
  display:block; clear:both;
}
div.headlines {
    h2 { margin-top:40px; font-size:25px; }
    h2 b { width:43px; height:43px; display:inline-block; background:$light; border-radius:100px; line-height:43px; margin-right:10px; }
}
div.cta {
    padding-top:100px; padding-bottom:100px;
    a.btn {
        padding:1rem 3rem 0.8rem 3rem; font-weight:500; font-size:18px; width:280px; margin-bottom:40px;
        border-radius:50px;
        img { height:16px; vertical-align:-2px; margin-right:40px; opacity:0; transition:all 0.15s ease-in-out; }
        span { margin-left:-50px; transition:all 0.15s ease-in-out; }
        &:hover {
            img { margin-right:10px; opacity:1; transition:all 0.15s ease-in-out; }
            span { margin-left:0px; transition:all 0.15s ease-in-out; }
        }
    }
}

footer {
    width:100%;
    position:fixed; bottom:0; left:0;
    img.bird { position:absolute; left:40px; bottom:44px; z-index:100;}
    img.dark { position:absolute; left:0px; bottom:0px; }
    img.light { position:absolute; right:0px; bottom:0px; }
}


// SEND XRP

div.sendnav {
  display:block; position: relative;
    .link { 
      position:relative; color:lighten($dark, 45%); font-size:20px; font-weight:500; text-decoration:none; padding:1rem 0.3rem 0.3rem 0.3rem; cursor:pointer;
      padding-top:33px !important;
      b { 
        font-size:30px; 
        // vertical-align:-3px; margin-right:15px;
        position: absolute;
        top:0;
        left:50%; 
        transform:translateX(-50%);
      }
      &.active { color:$orange; border-bottom:3px solid $orange; }
      &.history { color:$dark; span { color:$dark; } }
      &:not(.active):hover  { color:$dark; border-bottom:3px solid $light; }
      
      i.fa-check-circle { 
        color:$green; position: absolute;
        top:12px;
        left:50%; 
        transform:translateX(-50%);
        margin-left:-27px;
      }
      // &.verify i.fa-check-circle { right:33px; top:0px; }
      // &.iban i.fa-check-circle { right:7px; top:0px; }
      // &.destination i.fa-check-circle { right:30px; top:0px; }
      // &.confirm i.fa-check-circle {}
    }
}


// div.prephone {
//     width:130px; position:relative; margin-right:15px; 
//     input { padding-left:50px; font-weight:500; font-size:20px; }
//     i.fa { position:absolute; left:15px; top:11px; font-size:28px; color:$dark; }
// }
div.vue-tel-input {
  width:360px;
  height: calc(2.875rem + 2px);  margin-right:15px; 
  padding: .5rem 1rem .5rem .5rem;
  font-weight:500; font-size:20px;
  border-radius:50px !important;
  
  div.dropdown {
    z-index: 9999; outline: none !important; 
    ul { width: 360px; left:-9px; top: 45px; border-radius:25px; outline: none !important;  }
    li.dropdown-item { font-size:1rem; }
    li.dropdown-item strong { font-weight:500; }
    li.preferred { padding-top:8px; padding-bottom:4px; }
    // &:focus ul {
    //   border:2px solid red; outline:none;
    // }
    &:hover,
    &.open {
      border-radius:15px;
    }
  }
  &:focus-within {
    border-color: #80bdff !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
  }
}
div.phonenumber {
    position:relative; margin-right:15px; border: 1px solid #ced4da !important;
    input { padding-left:15px; padding-right:15px; font-weight:500; font-size:20px; }
}
div.phonecode {
    width:160px; position:relative; margin-right:15px; 
    input { text-align:center; font-weight:500; font-size:20px;  }
}
div.raddress {
    position:relative; margin-right:15px;
    input { width:500px; }
}
div.iban {
    position:relative; margin-right:15px;
    input { width:350px; }
}
div.tag {
    position:relative; margin-right:15px;
    input { width:200px; padding-left:80px; }
    ul {
      list-style: none; margin:0; padding:0;
      position:absolute; top:8px; left:8px;

      .tgl {
        display: none;
      }
      .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
        box-sizing: border-box;
      }
      .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
        background: none;
      }
      .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
        background: none;
      }
      .tgl + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
      }
      .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
      }
      .tgl + .tgl-btn:after {
        left: 0;
      }
      .tgl + .tgl-btn:before {
        display: none;
      }
      .tgl:checked + .tgl-btn:after {
        left: 50%;
      }
      
      .tgl-light + .tgl-btn {
        background: #d7dde2;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;
      }
      .tgl-light + .tgl-btn:after {
        border-radius: 50%;
        background: #fff;
        transition: all .2s ease;
      }
      .tgl-light:checked + .tgl-btn {
        background: $green;
      }
    }
}

div.confirm {
  p b { font-size:1.5rem; }
}
button.sendsms { margin:1rem 0 !important;  }
button.retrysms { margin:1rem 1rem 1rem 0 !important; font-size:1rem !important; padding:0.65rem 1.5rem 0.55rem 1.5rem !important; }
button.next { margin:0 !important; }






// FAQ
div.faqlist {
    margin-bottom:200px;
}
div.faq-item {
    background:#fff; 
    //box-shadow: 0 4px 12px 0 rgba(0,0,0,0.15); 
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-bottom:1rem; padding-left:0; padding-right:0;
    input { display:none !important; }
    input:checked ~ label.faq-header i { color:$dark; transform:rotate(180deg); }
    input:checked ~ div.faq-body { height:auto; overflow:visible; padding:1.333rem; transition:all 0.3s ease-in-out; }

    label.faq-header {
        width:100%; display:block;
        top:inherit; font-size:inherit; position:relative; pointer-events:inherit; cursor:pointer; border-radius: 6px;
        padding:1.5rem 5.333rem 0.5rem 1.333rem; margin-bottom:0; left:0 !important;
        h4 { color:$dark; font-weight:bold; font-size:1.2rem; line-height:1.5rem; }
        i.fa { position:absolute; right: 1.5rem; top: 1.2rem; font-size: 1.7em; color:$blue; }
    }
    div.faq-body {
        height:0px; overflow:hidden; padding:0 1.333rem; transition:all 0.15s ease-in-out; 
    }
    &:hover {
        label.faq-header { background:#f9f9f9; }
        input:checked ~ label.faq-header { background:#fff; }
    }
}





@media (max-width: 576px) {
  .navbar-brand { transform:scale(0.8); transform-origin: center left; z-index:9999999999 !important; }
  .navbar-toggler { position:absolute; top:40px; right:20px; }
  div.raddress input { font-size:13px; }
}
@media (max-width: 991px) {
  .navbar-brand img { max-width:250px; margin-left:10px; position: relative; z-index: 999999999 !important;}
  .navbar-toggler i { font-size:1.5rem; position: relative; z-index: 999999999 !important; }
  
  .navbar-nav { 
    padding: 110px 15px 0px 15px;
    background: #ffffff;
    height: 100%;
  }
  .navbar-nav .nav-item { margin-left:1rem !important; text-align:center; line-height:50px !important; }
  .collapsing {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    overflow: visible;
    opacity:1;
    z-index: 99999999 !important;
    -webkit-transition: opacity .35s ease;
    transition: opacity .35s ease;
  }
  .navbar-collapse.show {
    transition:none !important;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    opacity:1;
    z-index: 99999999 !important;
  }
  div.sendnav {
    user-select: none; margin-top:20px;
    .link { 
      font-size:20px; font-weight:500; text-decoration:none; padding:0.4rem 0.3rem; cursor:pointer;
      display:block; float:left; margin:0; width:calc(25% - 10px); margin-right:5px; margin-left:5px;
      // background:#e0e1e9; border-radius:5px;
      transition:all 0.15s ease-in-out;
      b { font-size:20px; }
      span { 
        position: absolute;
        top: 92%;
        font-size: 10px;
        left: -10%;
        // color: #2c3142;
        color:lighten($dark, 25%);
        width: 115%;
      }
      i.fa-check-circle { top: 5px !important; color:$green !important; right:inherit !important; margin-left:-24px; }
      &.active {
        color:#ffffff; 
        color:$dark;
        border-bottom:none;
        padding-top:29px !important;
        transition:all 0.15s ease-in-out;
        // background:$orange;
        b {
          font-size: 22px;
          line-height: 41px;
          background: $dark;
          width: 40px;
          display: block;
          height: 40px;
          border-radius: 50px;
          color: #fff;
          margin: 0 auto;
          position: absolute;
          top:-10px;
          left:50%; 
          transform:translateX(-50%);
          transition:all 0.15s ease-in-out;
        }
        span { color:$dark; top: 105%; }
      }
     
    }
  }

  input { text-align:center; }
  div.phonecode { width:100%; margin-right:0 !important; margin-bottom:1rem;  }
  div.phonenumber { width:100%; margin-right:0 !important;  }
  div.phonenumber input { padding-left: 0px; padding-right: 45px; }
  div.raddress { width:100%; margin-right:0 !important;  }
  div.raddress input { width:100%; margin-right:0 !important; margin-bottom:1rem; }
  div.iban { width:100%; margin-right:0 !important;  }
  div.iban input { width:100%; margin-right:0 !important; margin-bottom:1rem; }
  div.tag { width:100%; margin-right:0 !important;  }
  div.tag input { width:100%; padding-right:80px !important; margin-bottom:1rem; }

  .dropdown ul { 
    // position:absolute; width: calc(100% - 2rem) !important; 
    max-width:330px !important; 
    overflow: hidden;
  }

  .btn { width:100%; }
  .page.pt-5 , .page.mt-5 { margin-top:0 !important; padding-top:0 !important; }
  // .headlines { width:60% !important; margin:0 auto; }
  // .headlines h2 { margin-top:20px !important; text-align:left;  }
  // .headlines h2 b { text-align:center;  }
  img.visual { max-width:100%; }
  div.cta { padding-top:50px; padding-bottom:0px; }
  footer {
    transform: scale(0.7);
    transform-origin: bottom left;
    // position: relative;
    // overflow: hidden;
    // height: 130px;
  }
}
